<h1>Edit Article</h1>

<%= form_with(model: @article, local: true) do |form| %>

 <!-- This informs the user of any errors and lists them-->
  <% if @article.errors.any? %> <!-- This checks for any errors -->
    <div id="error_explanation" > <!-- ID of this division -->
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited this
        article from being saved: <!-- pluralize will check if a number is greater than one and pluralize the string-->
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
  
<% end %>

<%= link_to 'Back', articles_path %>
